{% extends 'base.html' %}
{% block content %}
    <style>
        body {
            background-color: #f8f9fa;
        }

        .menu-container {
            max-width: 600px;
            margin: 50px auto;
        }

        .menu-item {
            border: 1px solid #dee2e6;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        .menu-item:hover {
            background-color: #f1f1f1;
        }

        .menu-link {
            display: block;
            padding: 10px 15px;
            text-decoration: none;
            color: #212529;
        }

        .menu-link:hover {
            text-decoration: none;
            color: #212529;
        }
    </style>
    <h1>Платформа на основе блокчейн для ведения очереди на земельные участки</h1>
    <p>
        Здесь вы можете перейти либо в сам блокчейн и попробовать добавить данные в блокчейн и смайниить блоки.
        Во втором приложении вы можете попробовать подать заявку на земельный участок.
    </p>
    <div class="menu-container">
        <div class="menu-item">
            <a class="menu-link" href="{{ url_for('queue.queue_main') }}">Очередь на земельный участок</a>
        </div>
        <div class="menu-item">
            <a class="menu-link" href="{{ url_for('blockchain.index') }}">Блокчейн</a>
        </div>
    </div>
{% endblock %}