{% extends "base.html" %}
{% block content %}
     <div class="container mb-5">
        <h1>Форма заявления на получение земельного участка</h1>
        <form method="POST" enctype="multipart/form-data">
            <h2>Данные заявителя</h2>
            <div class="form-group">
                <label for="first_name">Имя:</label>
                <input type="text" class="form-control" id="first_name" name="first_name" required>
            </div>
            <div class="form-group">
                <label for="last_name">Фамилия:</label>
                <input type="text" class="form-control" id="last_name" name="last_name" required>
            </div>
            <div class="form-group">
                <label for="iin">ИИН (Individual Identification Number):</label>
                <input type="text" class="form-control" id="iin" name="iin" required>
            </div>
            <div class="form-group">
                <label for="phone_number">Номер телефона:</label>
                <input type="text" class="form-control" id="phone_number" name="phone_number" required>
            </div>
            <hr/>
            <h2>Данные по земельному участку</h2>
            <div class="form-group">
                <label for="longitude">Ширина:</label>
                <input type="number" class="form-control" id="longitude" name="longitude" required>
            </div>
            <div class="form-group">
                <label for="latitude">Долгота:</label>
                <input type="number" class="form-control" id="latitude" name="latitude" required>
            </div>
            <div class="form-group">
                <label for="area">Площадь:</label>
                <input type="number" class="form-control" id="area" name="area" required>
            </div>
            <div class="form-group">
                <label for="state">Область:</label>
                <input type="text" class="form-control" id="state" name="state" required>
            </div>
            <div class="form-group">
                <label for="soil_type">Тип почвы:</label>
                <select class="form-control" id="soil_type" name="soil_type" required>
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
            </div>
            <!-- Add fields for other attributes of LandPlot and Location here -->
            <div class="form-group">
                <label for="document">Документ:</label>
                <input type="file" class="form-control" name="document" id="document" accept=".docx" required>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>

{% endblock %}