{% extends "base.html" %}
{% block content %}
    <div class="container mb-5">
        <h1>Поиск заявки по хэшу документа</h1>
        <form class="form-inline my-2 my-lg-0" method="POST" action="{{ url_for('queue.search_request') }}">
            <input class="form-control mr-sm-2" type="search" placeholder="Хэш документа" aria-label="Search"
                   name="document_hash">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Искать</button>
        </form>

        {% if request_block %}
            <h2 class="mb-4 mt-5">Информация о Заявке</h2>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Заявитель</h5>
                    <p class="card-text">Имя: {{ request_block['applicant']['first_name'] }}</p>
                    <p class="card-text">Фамилия: {{ request_block['applicant']['last_name'] }}</p>
                    <p class="card-text">ИИН: {{ request_block['applicant']['iin'] }}</p>
                    <p class="card-text">Телефон: {{ request_block['applicant']['phone_number'] }}</p>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">Участок Земли</h5>
                    <p class="card-text">Площадь: {{ request_block['land']['area'] }} га</p>
                    <p class="card-text">Местоположение: Широта {{ request_block['land']['location']['latitude'] }},
                        Долгота {{ request_block['land']['location']['longitude'] }}</p>
                    <p class="card-text">Область: {{ request_block['land']['state'] }}</p>
                    <p class="card-text">Тип почвы: {{ request_block['land']['soil_type'] }}</p>
                </div>
            </div>
            <div class="card mt-3 mb-5">
                <div class="card-body">
                    <h5 class="card-title">Детали Заявки</h5>
                    <p class="card-text">Хэш документа: {{ request_block['document_hash'] }}</p>
                    <p class="card-text">Место в очереди: {{ request_block['place'] }}</p>
                    <p class="card-text">Дата получения: СДЕЛАТЬ!{{ request_block['removed_at'] }}</p>
                </div>
            </div>
        {% else %}
            <h2 class="mt-5">Ничего не найдено</h2>
        {% endif %}
    </div>
{% endblock %}